{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Nouvelle Publication{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">

            {# affichage du formulaire de création d'article #}
            <h1 class="col-12 text-center my-5">
                {{ form( new_publication_form ) }}
            </h1>
        </div>

    </div>

{% endblock %}