{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Accueil{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">

            {# affichage d'une image #}
           <div class="row">
               <h1 class="text-center col-12 my-5"> erreur 500 : problem interne au serveur</h1>
           </div>

        </div>

    </div>

{% endblock %}